a.delete-anchor {
 padding: 3px 0;
 display: inline-block;
 border: 2px solid #e6e6e6;
 width: 100%;
 text-align: center;
 cursor: pointer;
 margin: 5px 0;
}
a.delete-anchor:hover {
 background-color: #e6e6e6;
 transition: 0.4s;
}
.image-preview-box img{
 width: 100%; 
 max-height: 160px;
}
.pad-top-bottom-20{
 padding:20px 0;
}
.upload-btn-wrapper {
 position: relative;
 overflow: hidden;
 display: inline-block;
 cursor: pointer;
}
 
.btn.document-upload-btn {
 border: 2px solid gray;
 color: gray;
 background-color: white;
 padding: 8px 20px;
 border-radius: 8px;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
 font-size: 100px;
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
 cursor: pointer;
}