<div class="container pad-top-bottom-20">   
 <div class="row">
 <div class="col-md-12"> 
  <form [formGroup]="msms_form_group" (ngSubmit)="submitted_data(msms_form_group);">  
  <div class="form-row" style="margin-bottom: 0.5rem;">							
   <div class="col">
    <label>Blog title</label>
    <input type="text" class="form-control" formControlName="title"  maxlength="100" autocomplete="off">
    </div>
    <div class="col">
     <label>Blog url</label>
     <input type="text" class="form-control" formControlName="slug" maxlength="100"  autocomplete="off">  
   </div>             
  </div>           
  <div class="form-row" style="margin-bottom: 0.5rem;">
   <div class="col">
    <label>Blog description</label>
    <textarea rows="6" formControlName='description' class="form-control"></textarea>
   </div>
  </div>
  <div class="form-row" style="margin-bottom: 0.5rem;">							
   <div class="col">
    <label>Meta title</label>
    <input type="text" class="form-control" formControlName="meta_title" maxlength="100" autocomplete="off">
   </div>         
  </div>           
  <div class="form-row" style="margin-bottom: 0.5rem;">
   <div class="col">
    <label>Meta description</label>
    <textarea rows="2" formControlName='meta_description' class="form-control"></textarea>
   </div>
  </div>
  <div class="form-group">
   <div [ngClass]="'clearfix'">
    <span [ngClass]="'text-danger'"  *ngIf="error_msg"> {{error_msg}}</span>
   </div>   
   <button type='submit' class='btn btn-md btn-info login-btn' [disabled]="!msms_form_group.valid"> Login </button>
   <button type='button' class='btn btn-md btn-info login-btn ml-3' (click)="resetForm();" > Reset </button> 
  </div>
 </form>
 </div> 

</div>

</div>