<div class="container pad-top-bottom-20">   
 <div class="row">
 <div class="col-md-12"> 
  <form [formGroup]="msms_form_group" (ngSubmit)="submitted_data(msms_form_group);">  
  <div class="form-row" style="margin-bottom: 0.5rem;">							
   <div class="col">
    <label>Blog title</label>
     <input type="text" class="form-control" formControlName="title"  maxlength="100" autocomplete="off">
     <div *ngIf="isFormSubmitted  && msms_form_group.controls.title.errors" class="alert-danger">
      <div *ngIf="isFormSubmitted && msms_form_group.controls.title.errors.required">Blot title required</div>
     </div>
    </div>
    <div class="col">
     <label>Blog url</label>
     <input type="text" class="form-control" formControlName="slug" maxlength="100"  autocomplete="off">  
   </div>             
  </div>           
  <div class="form-row" style="margin-bottom: 0.5rem;">
   <div class="col">
    <label>Blog description</label>
    <textarea rows="6" formControlName='description' class="form-control"></textarea>
     <div *ngIf="isFormSubmitted  && msms_form_group.controls.description.errors" class="alert-danger">
      <div *ngIf="isFormSubmitted && msms_form_group.controls.description.errors.required">Blot description required</div>
     </div>
   </div>
  </div>
  <div class="form-row" style="margin-bottom: 0.5rem;">							
   <div class="col">
    <label>Meta title</label>
    <input type="text" class="form-control" formControlName="meta_title" maxlength="100" autocomplete="off">
    <div *ngIf="isFormSubmitted  && msms_form_group.controls.meta_title.errors" class="alert-danger">
     <div *ngIf="isFormSubmitted && msms_form_group.controls.meta_title.errors.required">Meta title required</div>
    </div>   
   </div>         
  </div>           
  <div class="form-row" style="margin-bottom: 0.5rem;">
   <div class="col">
    <label>Meta description</label>
    <textarea rows="2" formControlName='meta_description' class="form-control"></textarea>
    <div *ngIf="isFormSubmitted  && msms_form_group.controls.meta_description.errors" class="alert-danger">
     <div *ngIf="isFormSubmitted && msms_form_group.controls.meta_description.errors.required">Meta description required</div>
    </div> 
   </div>
  </div>

   <div class="form-group">
    <input formControlName="file" style="visibility: hidden;" *ngFor='let in of counter(4); let i = index;' type="file" id="files-{{i}}" (change)="onFileChange($event)">
    <label *ngFor='let in of counter(4); let i = index;' for="files-{{i}}" style='background-color:white; padding: 10px; margin-right: 10px; cursor: pointer; border: 1px solid #e6e6e6;'>Choose</label>
    
    <div *ngIf="isFormSubmitted  && msms_form_group.controls.file.errors" class="alert-danger">
     <div *ngIf="isFormSubmitted && msms_form_group.controls.file.errors.required">Image upload required</div>
    </div>
   
  </div>

   <div class="row">
    <div *ngFor='let url of images; let index = index;' [ngClass]="'col-md-2'">
     <img [src]="url" [ngClass]="'img-fluid'">
     <span class="delete-entry" style="cursor: pointer;" (click)="removeSelectedFile(index)">x</span>
    </div>
   </div>
   <div class="form-group">
    <div [ngClass]="'clearfix'"><span [ngClass]="'text-danger'"  *ngIf="error_msg"> {{error_msg}}</span></div>   
    <button type='submit' class='btn btn-md btn-info login-btn' > Add Blog </button>
    <button type='button' class='btn btn-md btn-info login-btn ml-3' (click)="resetForm();" > Reset </button> 
   </div>

 </form>
 </div> 
</div>
</div>